<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        let socket;
        function fillData(arg){
            if ('canopy_open' in arg) {
                    document.getElementById('canopy_open').value = arg['canopy_open'];
                }
                if ('light' in arg) {
                    document.getElementById('light').innerHTML = arg['light'];
                }
                if ('output_solar' in arg) {
                    document.getElementById('output_solar').innerHTML = arg['output_solar'];
                }
                if ('rain' in arg) {
                    document.getElementById('rain').innerHTML = arg['rain'];
                }
                if ('wind' in arg) {
                    document.getElementById('wind').innerHTML = arg['wind'];
                }
        }

        function fillThresholds(arg){
            if ('min_light' in arg){
                document.getElementById('min_light').value = arg['min_light']
            }

            if ('max_rain' in arg){
                document.getElementById('max_rain').value = arg['max_rain']
            }

            if ('max_wind' in arg){
                document.getElementById('max_wind').value = arg['max_wind']
            }
        }

        function update_canopy(){
            // TODO fix logic here
            socket.emit('update_canopy', !document.getElementById('canopy_open').value)
        }

        function init() {
            socket = io(null, {
                port: 5000,
                transports: ['websocket']
            });
            // solar panel open/close
            // light
            // output solar
            // rain
            // wind
            document.getElementById('thresholds').addEventListener('submit', function (e) {
                e.preventDefault();
                socket.emit('update_thresholds', {
                    'min_light': document.getElementById('min_light').value,
                    'max_wind': document.getElementById('max_wind').value,
                    'max_rain': document.getElementById('max_rain').value
                });
            });

            socket.on('data', function (arg) {
                fillData(arg)
            });

            socket.on('thresholds', function (arg) {
                fillThresholds(arg)
            });
        }
    </script>

</head>

<body style="width: 100%; height: 100%;overflow: hidden" onload="init()">
<h1>Title</h1>
<div style="display: flex; flex-direction: row">
    <p id="canopy_open"></p>
    <p id="light"></p>
    <p id="output_solar"></p>
    <p id="rain"></p>
    <p id="wind"></p>
</div>
<div style="display: flex; flex-direction: row">
    <form id="thresholds">
        <input id="min_light" type="number"/>
        <input id="max_wind" type="number"/>
        <input id="max_rain" type="number"/>
        <input type="submit" value="Update" />
    </form>
</div>
</body>
</html>